@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

img {
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
footer {
  font-size: 60%;
  text-align: right;
}
h1, h2, h3, h4, h5, h6 {
   text-align: center;
   color: rgb(0, 0, 0);
   font-size: 400%;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 200%;
}
.inline-block {
    display: inline-block;
}
.minimera {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}
  
.active, .minimera:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 10px;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 150%;
  border-style:double;
  flex: 0 0 350px;
}

.githubrepo
{
   font-size: 150%;
}

  @media only screen and (max-width: 600px) {
    img {
    width: 40%;
    height: 40%;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: 200%;
   }
   p{
    font-size: 150%;
   }
   .flex-container {
    flex-direction: column;
  }
  .flex-container > div {
    flex: 0 0 0px !important;
  }
  }